{% extends 'Layouts/front-master.html' %}
{% load static %}

{% block title %} پرداخت ناموفق {% endblock %}

{% block content %}
    <main>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center" style="justify-content: center!important;">
                <div class="col-md-4 mt-5" style="padding: 10px 5px; ">
                    <div class="loin-card " style="text-align: right;
                        color: #fff; background-image: linear-gradient( 180deg, #0e0e0e, #282929);padding: 65px 30px; border-radius: 10px; margin-right: -15px; margin-left: -15px;">
                        <div class="title-accont text-center">
                            <p>
                                <strong>خطا در پرداخت</strong>
                                <br>
                                پرداخت شما با موفقیت انجام نشد!
                            </p>
                            <p>
                                اگر از حساب شما مبلغی کسر گردیده است،تا 72 ساعت تامل بفرماید.
                                <br>
                                در صورتی که مبلغ کسر شده به حساب شما عودت نداده شد،مشکل خود را با پشتیبانی درمیان
                                بگذارید.
                            </p>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}