{% extends 'Layouts/admin-master.html' %}
{% load i18n %}

{% block title %} ویرایش کد تخفیف {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b>ویرایش کد تخفیف {{ form.code.value }}</b></h2>

                    {% if form.errors %}
                        {% for field in form %}

                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.label }} : {{ field.errors|striptags }}
                                    <br>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                                <br>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class="form-horizontal"
                          action="{% url 'coupons-update' object.id %}"
                          method="post"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-lg-2">کد</label>
                            <div class="col-md-8">
                                <input required type="text" name="code"
                                       class="form-control rounded"
                                       placeholder="کد را وارد کنید"
                                       id="code"
                                       value="{% if form.code.value %}{{ form.code.value }}{% endif %}">
                            </div>
                            <div class="col-md-2">
                                &nbsp
                                <label for="generate">تولید خودکار</label>
                                &nbsp
                                <input id="generate" value="1" onchange="GenerateCode()" type="checkbox">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">درصد تخفیف</label>
                            <div class="col-md-10">
                                <input required type="text" name="percent"
                                       class="form-control rounded"
                                       placeholder="درصد تخفیف را وارد کنید"
                                       value="{% if form.percent.value %}{{ form.percent.value }}{% endif %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">مدت زمان (به ماه)</label>
                            <div class="col-md-10">
                                <input required type="text" name="time"
                                       class="form-control rounded"
                                       placeholder="مدت زمان را وارد کنید"
                                       value="{% if form.time.value %}{{ form.time.value }}{% endif %}">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="m-1-25 m-b-20">
                                <button class="btn btn-info btn-border-radius waves-effect" type="submit">ویرایش
                                </button>
                                <a href="{{ request.META.HTTP_REFERER }}"
                                   class="btn btn-danger btn-border-radius waves-effect">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block Scripts %}
    <script>

        function createUUID() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);
            s[8] = s[13] = s[18] = s[23] = "-";

            return s.join("");
        }

        function GenerateCode() {
            var selected_type = document.getElementById('generate').checked
            if (selected_type === true) {
                $("#code").val(createUUID())
            } else {
                $("#code").val(null)
            }
        }
    </script>
{% endblock %}