<hr>
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label for="search" style="margin-right: 15px !important;">جستجو</label>
            <input onkeyup="Search()" style="margin-bottom: 30px !important" id="search"
                   required type="text" name="search"
                   class="form-control rounded"
                   placeholder="کلمه مورد نظر را وارد کنید">
        </div>
        <div class="col-lg-2">
            <label class="control-label col-lg-2">نتایج</label>
            <select onchange="Limit()" id="limit" class="form-control rounded">
                <option value="5">5</option>
                <option selected value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
        {% if '/admin/episodes/' in request.path and '/downloads' not in request.path %}
            <div class="col-lg-6">
                <label class="control-label col-lg-2">دسته بندی</label>
                <select onchange="Category_Filter()" id="category_filter" class="form-control rounded">
                    <option>همه</option>
                    {% for item in categories %}
                        <option value="{{ item.slug }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if '/admin/users/' in request.path %}
            <div class="col-lg-6">
                <label class="control-label col-lg-2">نوع اشتراک</label>
                <select onchange="Subscription_type_Filter()" id="subscription_type" class="form-control rounded">
                    <option>همه</option>
                    {% for item in subscriptions %}
                        <option value="{{ item.slug }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
</div>