{% load setting_tags %}

<span id="list">
    <table class="table table-hover">
    <thead>
    <tr>
        <th>ردیف</th>
        <th>کد</th>
        <th>درصد</th>
        <th>زمان قابل استفاده</th>
        <th>موارد استفاده شده</th>
        <th>اعمال</th>
    </tr>
    </thead>
    <tbody>

    {% for item in coupons %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{ item.code }}</td>

            <td>%{{ item.percent }}</td>

            <td>{{ item.time }} ماهه</td>

            <td><a href="{% url 'coupons_user' %}?coupon={{ item.id }}">{{ item.used_coupons.count }}</a></td>

            <td>
                <div class="buttons ">
                    <form action="{% url 'coupons-delete' item.id %}"
                          method="post">
                        {% csrf_token %}

                        <a href="{% url 'settings-update' item.id %}"
                           class="btn btn-primary btn-action mr-1"
                           data-toggle="tooltip" title=""
                           data-original-title="ویرایش"><i
                                class="fas fa-pencil-alt"></i><i
                                class="fa fa-pencil"> </i> </a>
                        <button type="button"
                                data-original-title="حذف"
                                data-toggle="tooltip"
                                onclick="return DeleteConfirm('{{ item.code }}' , {{ item.id }} , '{{ page_obj|is_last_item:settings }}')"
                                class="delete_button btn btn-danger btn-action"><i
                                class="fa fa-trash"> </i>
                        </button>

                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% include 'Admin/pagination.html' with page_obj=page_obj %}
</span>
