{% extends 'Layouts/front-master.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4 mt-5">
                    <div class="login-card mb-5">
                        <form action="{% url 'login-code-confirm' %}" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                {% for field in form %}

                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {{ field.label }} : {{ field.errors|striptags }}
                                            <br>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                            {% if messages %}
                                {% for item in messages %}
                                    <div class="alert alert-danger">
                                        {{ item }}
                                        <br>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <p>
                                کد ورود یکبار مصرف که به شماره تلفن شما پیامک شده است را وارد کنید.
                                <br>
                                <br> مثال : 12345
                            </p>

                            <input type="text" required name="code" class="form-control"
                                   placeholder="کد یکبار مصرف">

                            <div class="button-login">
                                <button type="submit">
                                    تایید
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
    </main>
{% endblock %}