{% extends 'Layouts/front-master.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4 mt-5">
                    <div class="login-card">
                        <form action="{% url 'login' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" method="post">

                            {% csrf_token %}

                            {% if form.errors %}
                                {% for field in form %}

                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {{ field.label }} : {{ field.errors|striptags }}
                                            <br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if messages %}
                                {% for item in messages %}
                                    {% if item.tags == 'success' %}
                                        <div class="alert alert-success">
                                            {{ item }}
                                            <br>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger">
                                            {{ item }}
                                            <br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <p>
                                لطفا شماره تلفن همراه خود را وارد نمایید <br> مثال: ********0912
                            </p>
                            <input type="text" class="form-control"
                                   name="phone"
                                   value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"
                                   placeholder="شماره تلفن همراه">

                            <input type="password" class="form-control"
                                   name="password"
                                   value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                                   placeholder="رمز عبور">

                            <div class="form-check">
                                <input name="remember_me" id="remember_me" type="checkbox"/>
                                <label for="remember_me">مرا بخاطر بسپار</label>
                            </div>
                            <a href="{% url 'password-reset' %}">رمز خود را فراموش کرده اید ؟</a>
                            <a href="{% url 'login-code' %}">ورود با رمز یکبار مصرف</a>
                            <div class="button-login">
                                <button type="submit">
                                    ورود
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
    </main>
{% endblock %}

