{% extends 'Layouts/admin-master.html' %}
{% load i18n %}

{% block title %} افزودن تنظیمات {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b>افزودن تنظیمات جدید</b></h2>

                    {% if form.errors %}
                        {% for field in form %}

                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.label }} : {{ field.errors|striptags }}
                                    <br>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                                <br>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class="form-horizontal"
                          action="{% url 'settings-create' %}"
                          method="post"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-lg-2">عنوان</label>
                            <div class="col-md-10">
                                <input required type="text" name="key"
                                       class="form-control rounded"
                                       placeholder="عنوان را وارد کنید"
                                       value="{% if form.key.value %} {{ form.key.value }} {% endif %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">مقدار</label>
                            <div class="col-md-10">
                            <textarea required name="value"
                                      class="form-control"
                                      placeholder="مقدار را وارد کنید"
                                      rows="8">{% if form.value.value %}{{ form.value.value }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="m-1-25 m-b-20">
                                <button class="btn btn-info btn-border-radius waves-effect" type="submit">ثبت</button>
                                <a href="{{ request.META.HTTP_REFERER }}"
                                   class="btn btn-danger btn-border-radius waves-effect">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
